<!DOCTYPE>
<html>
  <head>
    <title>
      {% block title %}
        The Nhget Viwer | Powered by Flask.
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <!-- header begin -->
    <div class="container" id="head-container">
      {% include "header.html" %}
    </div>
    <!-- header end -->

    <!-- main begin -->
    <div class="container" id="main-container">
      {% block main %}
        <p>Something was wrong :(</p>
      {% endblock %}
    </div>
    <!-- main end -->

    <!-- footer begin -->
    <div class="container" id="foot-container">
      {% include "footer.html" %}
    </div>
    <!-- footer end -->

    <!-- script begin -->
    {% block script %}{% endblock %}
    <!-- script end -->
  </body>
</html>

